.bgPattern{
    background-image: url('../assets/reset-password-bg-pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 768px){
    .bgPattern{
        background-image: url('../assets/mobile-bg-pattern.svg');
    }
}