// Primary
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$moderateBlue:hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightGrayishBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);

//Neutral
$darkBlue : hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 50%);
$lightGray: hsl(223, 19%, 93%);
$VeryLightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

body{
  background-color: $VeryLightGray;
  font-size: 16px;
  font-family: 'Rubik','sans-serif';
}
button{
  cursor: pointer;
}
.container{
  position: relative;
  margin: 5px auto;
}

.commentTemplate{
  display: flex;
  background-color: $white;
  
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px $VeryLightGray;
  margin: 15px auto;
}
.upvote{
  background-color: $VeryLightGray;
  margin: 0 10px;
  text-align: center;
  color: $moderateBlue;
  font-size: 12px;
  font-weight: bolder;
  height: fit-content;
}
.upvote button{
  background-color: $VeryLightGray;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bolder;
  color: $lightGrayishBlue;
}
.description{
  width: 100%;
  margin: 0 5px;
}
.commentTemplate .header{
  display: flex;
  position: relative;
  align-items: center;
  font-size: 13px;
  margin-bottom: 15px;
}
.description .message{
  color: $grayishBlue;
  font-weight: 500;
  font-size: 14px;
}


.header .reply{
  position: absolute;
  bottom: 0;
  right: 0;
  color: $moderateBlue;
  font-weight: bolder;
  cursor: pointer;
}
.replyIcon,.editIcon{
  margin-right: 5px;
  font-size: 10px;
}
.reply .delete{
  margin-right: 10px;
  color: $softRed;
}
.reply .del, .reply .edit{
  display: flex;
  align-items: center;
  cursor: pointer;margin-left: 2px;
}
.reply .deleteIcon{
  font-size: 10px;
  color: $softRed;
}
.header .username{
  margin: 0 8px;
  font-weight: bolder;
  color: $darkBlue;
}

.header .time{
  margin: 0 8px;
  color: $grayishBlue;
  font-weight: bold;
}
.commentTemplate img{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.replyContainer{
  margin:2px auto;
  border-left: 2px solid $lightGray;
}
.replyContainer .commentTemplate{
  margin-left: 30px;
}


::placeholder{
  color: $grayishBlue;
  font-family: 'Rubik','sans-serif';
  padding: 5px;
}


// modal
.modalContainer *{
  margin: 0;
}
.modalContainer{
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,.4);
  overflow: hidden;
}
.modalContainer .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  padding: 25px 30px;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}
.modal .title{
  font-size: 18px;
  font-weight: bold;
  color: $darkBlue;
  margin-bottom: 15px;
}
.modal .content{
  color: $darkBlue;
  font-size: 14px;
  margin-bottom: 15px;
  color: $grayishBlue;
}
.modal .footer button{
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
}
.modal .footer {
  display: flex;
  justify-content: space-between;
}
.footer .cancel{
  background-color: $grayishBlue;
}
.footer .delete{
  background-color: $softRed;
}

//Mobile 

@media screen and (max-width:500px){
  
  .container *{
    margin:0;
  }
  .commentTemplate{
    flex-wrap: wrap;
    min-width: 200px;
    width: fit-content;
    padding: 0;
    margin: 10px auto;
    position: relative;
  }
  .description{
    min-width: 200px;
    max-width: 500px;
    width: fit-content;
    padding: 5px 5px 60px 5px;
  }
  .commentTemplate .upvote{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .commentTemplate .upvote button{
    padding: 10px;
  }
  .commentTemplate .header{
    position: initial;
  }
  .header .reply{
    bottom: 20px;
    right: 15px;
  }
  .reply .replyIcon,.reply .editIcon{
    margin-right: 5px;
  }
  .replyContainer{
    margin-left: 10px;
    width: fit-content;
    border-left: 2px solid $lightGray;
  }
  .replyContainer .commentTemplate{
    width: fit-content;
    margin-left: 10px;
  }
  .replyContainer .addComment{
    width: auto;
    margin-left: 10px;
    padding: 10px 10px 50px 10px;
  }
  .addComment{
    width: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-bottom: 50px;
  }
 .addComment img{
  position: absolute;
  left: 5px;
  bottom: 5px;
 }
 .addComment button{
  position: absolute;
  bottom: 5px;
  right: 5px;
 }

 .modalContainer .modal{
  width: auto;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
  margin: auto 20px;
 }
 
}