@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active{
    color: blue;
    background-color: seashell;
} */


#admin-sidebar li:has(> a.active){
    background-color: white;
    color: blue;
}

#admin-sidebar li a.active{
    background-color: white;
    color: blue;
}


